extends ../layout

block content
  h1
    a(href="/") My COOL Blog!

  article.tout
    p These is amazing post content you should look at immediately.  They are so great it will burn out your eyes! 
  article
    != post  
    
